<section>
    <h2>À propos de nous</h2>
  
    <div class="company-history">
      <h3>L'histoire de l'entreprise</h3>
      <p>
        "Au petit village" est une entreprise passionnée qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix. Fondée pour capturer l'esprit ludique et l'aventure des célèbres Gaulois, notre entreprise s'adresse à une population jeune entre 30 et 55 ans, nostalgique des aventures des héros d'Astérix.
      </p>
      <p>
        Depuis notre création, nous nous engageons à créer des figurines faites main avec amour et dévouement. Chaque pièce est unique et témoigne de notre passion pour l'art et la culture Astérix et Obélix.
      </p>
    </div>
  
    <div class="team-members">
      <h3>Notre Équipe</h3>
      <p>
        Notre équipe est composée d'individus talentueux et dévoués qui partagent une passion commune pour la bande dessinée Astérix et Obélix. Ensemble, nous travaillons à créer des figurines qui captivent l'imagination et ravivent les souvenirs d'enfance de nos clients.
      </p>
     
    </div>
  
    <div class="achievements">
      <h3>Nos Réalisations</h3>
      <ul>
        <li>Reconnaissance de la qualité artisanale</li>
        <li>Création d'une collection exclusive inspirée d'Astérix et Obélix</li>
        <li>Participation à des événements culturels</li>
      </ul>
    </div>
  </section>
  
